@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
.page {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
}

.page .logo {
  -webkit-transform: translate(45%, 350%);
          transform: translate(45%, 350%);
  position: relative;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 1000px;
  height: 500px;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  padding: 40px;
  border-radius: 20px;
}

.card .option-side {
  width: 500px;
}

.card .option-side .content-container {
  padding: 15px;
  max-width: 450px;
}

.card .option-side .content-container p {
  color: #7f9c9f;
  font-weight: 700;
}

.card .option-side .content-container .tip-percentages {
  margin-bottom: 40px;
  margin-top: 40px;
}

.card .option-side .content-container .tip-percentages button {
  width: 130px;
  height: 50px;
  margin: 5px;
  background-color: #00494d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.card .option-side .content-container .tip-percentages button:hover {
  background-color: #26c0ab;
  color: #00494d;
  cursor: pointer;
}

.card .option-side .content-container .tip-percentages .custom-button {
  background-color: #f4fafa;
  color: #7f9c9f;
  width: 130px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-align: center;
}

.card .option-side .content-container .input-box input {
  background-color: #f4fafa;
  border: none;
  height: 50px;
  border-radius: 7px;
  width: 400px;
  text-align: right;
  font-size: 25px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #00494d;
}

.card .option-side .content-container .input-box input img {
  padding: 15px;
}

.card .result-side {
  background-color: #00494d;
  width: 500px;
  border-radius: 20px;
}

.card .result-side .content-container {
  padding: 50px;
  margin-top: 20px;
}

.card .result-side .content-container .output-tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .result-side .content-container .output-tip .text {
  color: white;
  font-weight: 700;
}

.card .result-side .content-container .output-tip .text sub {
  color: #7f9c9f;
}

.card .result-side .content-container .output-tip .tip-amount-box {
  width: 200px;
  height: 60px;
  margin-top: 15px;
  border: solid #26c0ab;
  border-radius: 10px;
}

.card .result-side .content-container .output-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .result-side .content-container .output-total .text {
  color: white;
  font-weight: 700;
}

.card .result-side .content-container .output-total .text sub {
  color: #7f9c9f;
}

.card .result-side .content-container .output-total .total-amount-box {
  width: 200px;
  height: 60px;
  margin-top: 15px;
  border: solid #26c0ab;
  border-radius: 10px;
}

.card .result-side .content-container .reset-button {
  margin-top: 175px;
}

.card .result-side .content-container .reset-button button {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #26c0ab;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #00494d;
}
/*# sourceMappingURL=app.component.css.map */