<div class="page">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="Splitter Logo" />
  </div>
  <div class="card">
    <div class="option-side">
      <div class="content-container">
        <p>Bill</p>
        <div class="input-box">
          <img src="assets/images/icon-dollar.svg" alt="Dollar Sign" />
          <input
            type="number"
            placeholder="0.00"
            #billbox
            (keyup)="getBillTotal(+billbox.value)"
          />
        </div>
        <div class="tip-percentages">
          <p>Select Tip %</p>
          <mat-button-toggle-group>
            <mat-button-toggle
              ><app-button (btnClick)="togglePercent(5)" text="5%"></app-button
            ></mat-button-toggle>
            <mat-button-toggle
              ><app-button
                (btnClick)="togglePercent(10)"
                text="10%"
              ></app-button
            ></mat-button-toggle>
            <mat-button-toggle
              ><app-button
                (btnClick)="togglePercent(15)"
                text="15%"
              ></app-button
            ></mat-button-toggle>
            <mat-button-toggle
              ><app-button
                (btnClick)="togglePercent(25)"
                text="25%"
              ></app-button
            ></mat-button-toggle>
            <mat-button-toggle
              ><app-button
                (btnClick)="togglePercent(50)"
                text="50%"
              ></app-button
            ></mat-button-toggle>
            <mat-button-toggle>
              <input
                class="custom-button"
                type="text"
                placeholder="Custom"
                #custombox
                (keyup)="togglePercent(+custombox.value)"
              />
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <p>Number of People</p>
        <div class="input-box">
          <img src="assets/images/icon-person.svg" alt="Person Icon" />
          <input
            type="number"
            placeholder="1+"
            #peoplebox
            (keyup)="getTotalPeople(+peoplebox.value)"
          />
        </div>
      </div>
    </div>
    <div class="result-side">
      <div class="content-container">
        <div class="output-tip">
          <div class="text">
            <p>
              Tip Amount <br />
              <sub>/ person</sub>
            </p>
          </div>
          <div class="tip-amount-box">{{ tipAmount }}</div>
        </div>
        <div class="output-total">
          <div class="text">
            <p>
              Total <br />
              <sub>/ person</sub>
            </p>
          </div>
          <div class="total-amount-box">{{ totalPerPerson }}</div>
        </div>
        <div class="reset-button">
          <button (click)="reset()">RESET</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./script.ts"></script>
